<md-card>
  <div class="row">
    <div class="header">
      <h1> <b>New Promo Code</b></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <form *ngIf="!loading" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" class="form" novalidate>

        <div class="form-group">
          <div>
            <label for="code">Promo Code (for customer to enter)</label>
              <input class="form-control" type="text" class="form-control" name='code' [(ngModel)]="promo.code" #code="ngModel" required/>
          </div>
        </div>

        <div class="form-group">
          <div>
            <label for="fabricName">Promo Name </label>
          </div>
          <div ng-class="{'valid':fabric.$valid}">
            <select class="form-control" name='fabric' [(ngModel)]="product.fabric" #fabric="ngModel" required>
                <option *ngFor="let f of fabrics" [ngValue]="f">{{f.fabricName}}</option>
            </select>
          </div>
          <div *ngIf="(f.submitted && !fabric.valid && !product.fabric) || (!fabric.valid && fabric.dirty)" class="help-block">Fabric is required</div>
        </div>

        <div class="form-group">
          <div>
            <label for="colour">Value</label>
          </div>
          <div ng-class="{'valid':colour.$valid}">
            <select class="form-control" name='colour' [(ngModel)]='product.colour' #colour="ngModel" required>
                            <option *ngFor="let c of colours" [ngValue]="c">{{c.colourName}}</option>
                        </select>
          </div>
          <div *ngIf="(f.submitted && !colour.valid && !product.colour) || (!colour.valid && colour.dirty)" class="help-block">Colour is required</div>
        </div>

        <div class="form-group">
          <button md-raised-button [ngStyle]="{'background-color': 'lightcoral', 'color': 'white'}">Save</button>
        </div>

      </form>

    </div>


  </div>
  <!-- </div> -->
</md-card>