<div id="container">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title text-center"><a class="product-name">{{product.name}}</a></h5>
          <button type="button" class="close" (click)="close()">&times; </button>
      </div>

      <div class="modal-body">

        <alert></alert>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8"><img src="/assets/images/{{productId}}.png" class="img-responsive" alt="Some picture"></div>

            
            <span text-left class="col-md-4" style="font-size:15px" class="label label-warning">{{product.collection}}</span> <br><br>
            <div text-left class="product-price"><a class="product-price" style="font-size:15px"> Starting from</a> ${{product.price}} </div>
            <div> <br>
              <a>
                <u>View Full Detail</u>
              </a>
            </div> <br>
            <button type="button" class="button" data-dismiss="modal">Add to Cart</button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>