<div class="container-fluid">
    <div class="row">
        <button md-raised-button [ngStyle]=" { 'background-color': color.all, 'color': fontColor.all} " (click)="onStatusChange(0) ">All
            <!-- <span class=sup>&nbsp;{{itemCount}}</span> -->
        </button>
        <button md-raised-button [ngStyle]="{ 'background-color': color.payment, 'color': fontColor.payment} " (click)="onStatusChange(1) ">Payment Received</button>
        <button md-raised-button [ngStyle]="{ 'background-color': color.production, 'color': fontColor.production} " (click)="onStatusChange(2) ">In Production</button>
        <button md-raised-button [ngStyle]="{ 'background-color': color.packaging, 'color': fontColor.packaging} " (click)="onStatusChange(3) ">Packaging</button>
        <button md-raised-button [ngStyle]="{ 'background-color': color.preparation, 'color': fontColor.preparation} " (click)="onStatusChange(4) ">Pending for Shipment</button>
        <button md-raised-button [ngStyle]="{ 'background-color': color.shipped, 'color': fontColor.shipped} " (click)="onStatusChange(5) ">Shipped</button>
        <button md-raised-button [ngStyle]="{ 'background-color': color.completed, 'color': fontColor.completed} " (click)="onStatusChange(6) ">Completed</button>
    </div>
    <div class="row ">
        <!-- <div class="col-md-12 "> -->
        <div class="card ">
            <div style="padding:10px; padding-bottom:10px;margin: auto; max-width: 1000px; margin-bottom: 50px; ">
                <data-table id="order-grid " headerTitle="Orders " [items]="orders " [itemCount]="itemCount
    " (reload)="reloadItems($event, selectedStatus) " (rowClick)="rowClick($event) " (rowDoubleClick)="rowDoubleClick($event) "
                    [rowTooltip]="rowTooltip
    " [selectColumn]="true " [multiSelect]="false " [substituteRows]="false " [expandableRows]="true " [translations]="translations
    " [indexColumnHeader]=" '#' " [selectOnRowClick]="true " [multiSelect]="true">

                    <data-table-column [property]=" 'orderId' " [header]=" 'Order ID' " [sortable]="true
    " [resizable]="true ">
                    </data-table-column>

                    <data-table-column [property]=" 'currentStatus' " [header]=" 'Status' " [sortable]="true " [resizable]="true ">
                    </data-table-column>

                    <data-table-column [property]=" 'courierName' " [header]=" 'Courier' " [sortable]="true
    " [resizable]="true ">
                    </data-table-column>

                    <data-table-column [property]=" 'trackingNo' " [header]=" 'Shipping Tracking Number' " [sortable]="true
    " [resizable]="true ">
                    </data-table-column>

                    <data-table-column [property]=" 'netAmt' " [header]=" 'Order Total Price' " [sortable]="true
    " [resizable]="true ">
                    </data-table-column>

                    <data-table-column [property]="'customerEmail'" [header]=" 'Customer Email' " [sortable]="true
    " [resizable]="true ">
                    </data-table-column>


                </data-table>
                <div style="margin-top: 10px ">
                    <b>Selected:</b>
                    <span *ngIf="orderTable.selectedRow==null "><i>No item selected</i></span>
                    <span [textContent]="orderTable.selectedRow && orderTable.selectedRow.item.orderId "></span>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>