<body>

  <!-- <div class="sketchfab-embed-wrapper">
    <iframe width="640" height="480" src="https://sketchfab.com/models/45c73e4d033d4bb5bf7139d57f36d8c5/embed" frameborder="0"
      allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
  </div>
  <p>
    virtual-reality works!
  </p>
  <iframe src="/assets/images/360.png">
  </iframe> -->
  <div id="container">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="closeModal()">&times; </button>
          <h5 class="modal-title text-center">Virtual Reality</h5>
        </div>
        <div class="modal-body">
          <div id="vrview"></div>
        </div>
      </div>
    </div>
  </div>


</body>