<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Staff List</h4>
                </div>
                <hr>
                <div class="content">
                    <table>
                        <thead>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone Number</th>
                            <th>Role</th>
                        </thead>
                        <tbody *ngFor="let s of staffs">
                            <td>
                                {{s.email}}
                            </td>
                            <td>
                                {{s.firstName}}
                            </td>
                            <td>
                                {{s.lastName}}
                            </td>
                            <td>
                                {{s.phoneNo}}
                            </td>
                            <td>
                                {{s.roleId}}
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-lg-6 col-md-5">
            <div class="card">
                <div class="header">
                    <h4 class="title">Add New Staff</h4>
                </div>
                <hr>
                <div class="content">
                    <form name="form" (ngSubmit)="addNewStaff()" #f="ngForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="text" class="form-control border-input" [(ngModel)]="newStaff.email" #email="ngModel" name="email" placeholder="Email"
                                        required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Phone Number</label>
                                    <input type="text" class="form-control border-input" [(ngModel)]="newStaff.phoneNo" #phoneNo="ngModel" name="phoneNo" placeholder="Phone Number"
                                        required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control border-input" [(ngModel)]="newStaff.firstName" #firstName="ngModel" name="firstName"
                                        placeholder="First Name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control border-input" [(ngModel)]="newStaff.lastName" #lastName="ngModel" name="lastName"
                                        placeholder="Last Name" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control border-input" [(ngModel)]="newStaff.password" #password="ngModel" name="password"
                                        placeholder="Password" required>
                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Role Code</label>
                                        <br>
                                        <select class="form-control border-input" [(ngModel)]="newStaff.roleId" #roleId="ngModel">
                                            <option *ngFor="let role of staffRoles" [ngValue]="role.roleId">{{role.roleName}}</option>
                                        </select>
                                    </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-info btn-fill btn-wd">Add Staff</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>