td, th {
    border: 1px solid lightgray;
    text-align: left;
    padding: 8px;
}
table{
    border-radius: 10px;
    width: 100%;
}

label{
    color: black;
    font-size: 14px;
}

#view-selector, #auth-button{
    display: none !important;
}

#timeline{
    font-family: 'Muli' !important;
}

.gapi-analytics-data-chart{
    font: 'Muli' !important;
}

body{
    color: transparent;
    font-family: 'Muli' !important;
}