<!DOCTYPE html>
<html>

<body>
  <md-card class="analytics-section">
    <h3>
      <font color=#DD0330><b>Audience Overview</b></font>
    </h3>
    <hr/>


    <!-- Step 1: Create the containing elements. -->

    <div class="row">
      <div class="col-md-12">
        <section id="timeline"></section>
      </div>
    </div>
  </md-card>
  <md-card>
    <div class="row">
      <div class="col-md-4">
        <section id="usertype"></section>
      </div>
      <div class="col-md-4">
        <section id="userCountry"></section>
      </div>
      <div class="col-md-4">
        <section id="userBrowser"></section>
      </div>
    </div>
  </md-card>
  <br/>
  <md-card class="analytics-section">
    <h3>
      <font color=#DD0330><b>Product Analysis</b></font>
    </h3>
    <hr/>

    <section id="patternClicks"></section>
  </md-card>

  <md-card>
    <section id="ecommerce1"></section>
  </md-card>
  <!-- <md-card>
    <section id="ecommerce3"></section>
  </md-card>  -->
  <br/>
  <div class="row">
    <div class="col-md-6">
      <section id="auth-button"></section>
    </div>
    <div class="col-md-6">
      <section id="view-selector"></section>
    </div>
  </div>
</body>

</html>