body { 
    padding-top: 65px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.quote{
    color: #B0A171;
    line-height: 1em;
}

.contact{
    color: #4D4B4B;
}

.country{
    color: #B0A171;
}

.parallax {
    /* The image used */
    background-image: url("https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-126347216585/Website+Images/store3.jpg");
    filter: brightness(95%);

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.about{
    color: #4D4B4B;
}

.about-title{
    color : white;
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 400px;
    text-shadow: 3px 3px 10px black;
    font-family: Georgia;
    border: 10px double white;
    min-height: 400px; 
}

.store-heading{
    color: #B0A171;
    font-size: 17px;
}