<body>
  <!-- parallax text -->
  <div class="parallax text-center">
    <div class="about-title">
      STORE LOCATOR
    </div>
  </div>
  <div class="container">
    <div class="text-center">
      <div class="quote">
          <h3>We're here to make your design dreams come true</h3>
          <h5 class="contact">Email: info@highlander-deluxe.com</h5>
      </div>
    </div>
  </div>
  <hr>
  <div class="container" style="margin-top:40px">
    <div class="text-center">
      <div class="store">
        <div class="col-md-8 col-md-offset-2">
          <p class="store-heading">S T O R E S</p><br>
          <div class="col-xs-6 .col-md-4">
            <h6 class="country">SINGAPORE</h6>
            <h6 class="address1">JEM, #04-58</h6>
            <h6 class="address1">50 Jurong Gateway Road, Singapore 608549</h6>
          </div>
          <div class="col-xs-6 .col-md-4">
            <h6 class="country">SINGAPORE</h6>
            <h6 class="address1">Jurong Point Shopping Mall, #B1-16/17</h6>
            <h6 class="address1">1 Jurong West Central 2, Singapore 648886</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>