<body>
  <!-- parallax text -->
  <div class="parallax text-center">
    <div class="about-title">
      STORE LOCATOR
    </div>
  </div>
  <br />
  <br />


  <div class="container">
    <div class="text-center">
      <div class="quote">
        <div class="col-md-8 col-md-offset-2">
          <h4>We're here to make your design dreams come true</h4>
          <h6 class="contact">Tel: +65 9021 4166 | Email: info@highlander-deluxe.com</h6>
        </div>
      </div>

      <br />
      <br />
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container">
    <div class="text-center">
      <div class="store">
        <div class="col-md-8 col-md-offset-2">
          <p class="store-heading">STORES</p><br>
          <div class="col-xs-6 .col-md-4">
            <h6 class="country">LONDON</h6>
            <h6 class="address1">55 Bryanston Street, Marylebone</h6>
            <h6 class="address1">London W1H 7AA</h6>
          </div>
          <div class="col-xs-6 .col-md-4">
            <h6 class="country">SINGAPORE</h6>
            <h6 class="address1">82 Grange Road</h6>
            <h6 class="address1">Singapore, 249587</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>