body { 
    padding-top: 65px; 
}
img{
    border: 0px;
}

.img-product:hover {
    box-shadow: 3px 3px 5px 5px #888888
}

h5{
    font-family: garamond,serif;
    font-size: 15px;
    color:#B0A171;
}

p.solid {
    border-style: solid;
    border-color: #B0A171;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
    color: #B0A171;
}

p.separator{
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: #B0A171;
    border-width: 8px;
    width: 21%;
    
}

p.solid:hover{
    color:white;
    background-color: #B0A171;
}

.page-tab{
    color: #888888; 
    border: 0px;
    font-family: Georgia;  
}
.page-tab:hover {
    color: goldenrod; 
    border: 0px;
    border-radius: 0px;
    background: lightgray; 
}

.page-tab:active, select {
    color: lightgray; 
    border: 0px;
    border-radius: 0px;
    background: goldenrod;
    font-family: Georgia; 
}

.parallax {
    /* The image used */
    background-image: url("https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-126347216585/Website+Images/home2.jpg");

    min-height: 550px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row-header{
    color: goldenrod;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: Georgia;
}

.header-title{
    font-size: 30px;
    font-family: impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
    color: #B0A171;
}

.header-intro{
    color: #4D4B4B;
}

.home-title{
    color : white;
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 400px;
    text-shadow: 3px 3px 10px black;
    font-family: Georgia;
    border: 10px double white;
    min-height: 550px; 
    padding-top: 50px;
}

row.img{
    width: 50px;
    height: 50px;
}


