<body>

  <!-- parallax text -->
  <div class="parallax text-center">
    <div class="home-title">
      A FINE TEXTILE FOR A STUNNING HOME
    </div>
  </div>


  <br />

  <!-- product preview section -->
  <div class="text-center">
    <div class="row-header">
      <div class="col-md-8 col-md-offset-2">
        <div class="header-title">
          FALL 2016
        </div>

        <div class="col-md-8 col-md-offset-5">
          <p class="separator"></p>
        </div>

        <div class="col-md-8 col-md-offset-2">
          <div class="header-intro">
            <p>Inspired by rain forests, Highlander invites you to a journey of exotic experience.
              <p>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />
    <!-- product list -->
    <div class="container">
      <div class="row">
        <!-- product #1 -->
        <div class="col-sm-4 col-lg-4 col-md-4">
          <img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-126347216585/Product+Images/P1.png" class="img-thumbnail img-product" /><br>
          <h5 class="product-name">CUSHION</h5>
        </div>

        <!-- product #2 -->
        <div class="col-sm-4 col-lg-4 col-md-4">
          <img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-126347216585/Product+Images/P2.png" class="img-thumbnail img-product" /><br>
          <h5 class="product-name">PILLOW</h5>
        </div>

        <!-- product #3 -->
        <div class="col-sm-4 col-lg-4 col-md-4">
          <img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-126347216585/Product+Images/P3.png" class="img-thumbnail img-product" /><br>
          <h5 class="product-name">LAMP</h5>
        </div>
      </div>

      <br />
      <br />
      <!-- view gallery button-->
      <div class="col-sm-4 col-sm-offset-4">
        <p class="solid" routerLink="/products">View Full Collection</p>
      </div>
    </div>
  </div>
  <br />
  <br />
</body>