body { 
    padding-top: 65px; 
    padding-left: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;   
    padding-left: 30px;
    padding-right: 30px;
}

.button{
    border: 1px solid goldenrod;
    background-color: goldenrod; 
    font-family: Georgia;
    font-size: 16px;
    color: white;
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 40px;
    margin-top: 10px;
}

.product-name{
    font-size: 50px;
    color: goldenrod;
    font-family: Georgia; 
    padding-top: 0px;
    margin-top: 0px;
    border-bottom: 3px solid goldenrod;
}

.product-price{
    font-size: 18px;
    color: black; 
    font-family: Georgia;
}

.description{
    font-family: Georgia;
    border-bottom: 1px solid grey;
}

.btn-default:hover, .btn-default:focus, .btn-primary:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: goldenrod; 
    color: white;
}

.btn-default{
    border-radius: 0px;
    border: 1px solid goldenrod;
    background-color: goldenrod;
    font-family: Georgia;
    font-size: 12px;
    color: white;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-top: 10px;
    
}

.loading{
    padding: 40%;
    text-align: middle;
}

img{
    transition:all 0.3s ease;   
}

.button {
    border-radius: 0px;
    border: 1px solid goldenrod;
    background-color: goldenrod;
    font-family: Georgia;
    font-size: 14px;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-top: 10px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
  }

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '+';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 20px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


  .thumb{
      width: 100px;
  }

#carousel-custom {
    margin: 20px auto;
    width: 400px;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}

