<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-1">

        <div class="col-md-8"><img src="/assets/images/{{productId}}.png" class="img-responsive" alt="Some picture"></div>
         <h5 class="product-name">{{product.name}}</h5>
        
        <span text-left class="col-md-4" style="font-size:15px" class="label label-warning">{{product.collection}}</span>        <br><br>
        <div text-left class="product-price" style="font-size:15px"> Starting from ${{product.price}} </div>
       
        <button type="button" class="button" data-dismiss="modal">Add to Cart</button>
      </div>
    </div>
  </div>
</body>