<hr>

<body>
  <div class="text-center">
    <p class="col-md-8 col-md-offset-2">
      Follow us on social media
      <br>
      <br>
      <!-- social media icons are taken from http://www.flaticon.com/ -->
      <a href="www.instagram.com"><img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-126347216585/Website+Images/instagram.png" style="width:30px"></a>
      <a href="www.facebook.com"><img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-126347216585/Website+Images/facebook.png" style="width:30px"></a>
      <a href="www.twitter.com"><img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-126347216585/Website+Images/twitter.png" style="width:30px"></a>
    </p>
  </div>
</body>