<button md-raised-button [ngStyle]="{'background-color': color.all}" (click)="onStatusChange('all')">All</button>
<button md-raised-button [ngStyle]="{'background-color': color.payment}" (click)="onStatusChange('payment')">Payment Received</button>
<button md-raised-button [ngStyle]="{'background-color': color.production}" (click)="onStatusChange('production')">Production</button>
<button md-raised-button [ngStyle]="{'background-color': color.packaging}" (click)="onStatusChange('packaging')">Packaging</button>
<button md-raised-button [ngStyle]="{'background-color': color.preparation}" (click)="onStatusChange('preparation')">Shipment Preparation</button>
<button md-raised-button [ngStyle]="{'background-color': color.transit}" (click)="onStatusChange('transit')">In Transit</button>
<button md-raised-button [ngStyle]="{'background-color': color.completed}" (click)="onStatusChange('completed')">Completed</button>
 



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-sm-6">
            <!-- <div class="card breadcrumb"> -->
            <button md-button class="card breadcrumb" (click)="onClickStatus('payment')" [ngStyle]="{'background-color': 'red'}">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="icon-big icon-warning text-center">
                                        <i class="ti-wallet"></i>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="text-sm-right item-count">{{itemCount}}</p>
                                    <div class="numbers">
                                        Payment<br/>
                                        Received
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-calendar"></i> Last day
                                </div>
                            </div> -->
                        </div>
                        </button>
            <!-- </div> -->
        </div>
        <div class="col-lg-2 col-sm-6">
            <button md-button class="card breadcrumb" (click)="onClickStatus('production')" [ngStyle]="{'background-color':  color.production}">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-primary text-center">
                                    <i class="ti-cut"></i>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <p class="text-sm-right item-count">{{itemCount}}</p>
                                <div class="numbers">
                                    Production
                                </div>
                            </div>
                        </div>
                        <!-- <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-calendar"></i> Last day
                            </div>
                        </div> -->
                    </div>
                </button>
        </div>
        <div class="col-lg-2 col-sm-6">
            <button md-button class="card breadcrumb" (click)="onClickStatus('package')" [ngStyle]="{'background-color':  color.payment}">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-primary text-center">
                                    <i class="ti-package"></i>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <p class="text-sm-right item-count">{{itemCount}}</p>
                                <div class="numbers">
                                    Packaging
                                </div>
                            </div>
                        </div>
                        <!-- <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-calendar"></i> Last day
                            </div>
                        </div> -->
                    </div>
                </button>
        </div>
        <div class="col-lg-2 col-sm-6">
            <button md-button class="card breadcrumb">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-wallet"></i>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <p class="text-sm-right item-count">{{itemCount}}</p>
                                <div class="numbers">
                                    Shipment Preparation
                                </div>
                            </div>
                        </div>
                        <!-- <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-calendar"></i> Last day
                            </div>
                        </div> -->
                    </div>
                </button>
        </div>
        <div class="col-lg-2 col-sm-6">
            <button md-button class="card breadcrumb">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="icon-big icon-strong text-center">
                                        <i class="ti-truck"></i>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="text-sm-right item-count">{{itemCount}}</p>
                                    <div class="numbers">
                                        In Transit
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-calendar"></i> Last day
                                </div>
                            </div> -->
                        </div>
                    </button>
        </div>
        <div class="col-lg-2 col-sm-6">
            <button md-button class="card breadcrumb">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="icon-big icon-success text-center">
                                        <i class="ti-check-box"></i>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="text-sm-right item-count">{{itemCount}}</p>
                                    <div class="numbers">
                                        Completed
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-calendar"></i> Last day
                                </div>
                            </div> -->
                        </div>
                    </button>
        </div>
    </div>
</div>
