<div class="container-fluid">

  <div *ngIf="!edit" class="col-lg-12 col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Order Number: {{orderId}}</h4>

      </div>
      <hr>
      <div class="content">
        <table>
          <thead>
            <th>Status</th>
            <th>Courier</th>
            <th>Shipping Tracking Number</th>
            <th>Order Total Price</th>
            <th>Customer Email</th>

          </thead>
          <tbody>
            <td>
              {{selectedStatus}}

            </td>
            <td>
              {{selectedCourier}}
            </td>
            <td>
              {{order.trackingNo}}
            </td>
            <td>
              {{order.netAmt}}
            </td>
            <td>
              {{order.address.email}}

            </td>
          </tbody>
        </table>
        <hr>
        <h4>
          <b>Payment Timestamp:</b> {{order.order_TimeStamp}}</h4>

        <h4>
          <b>Stripe Charge ID:</b> {{order.paymentRefNo}}</h4>

        <h4>
          <b>Promo Code:</b> {{order.promoCode.promoCode}}</h4>
        <hr>

        <h4>
          <b>Recipient Name: </b>{{order.address.recipientName}} </h4>
        <h4>
          <b>Delivery Address:</b> {{order.address.addressLine}} {{order.address.city}} {{order.address.country}} {{order.address.postalCode}}</h4>

        <hr>
        <h4 class="title">Order Summary</h4>
        <hr>
        <table>
          <thead>
            <tr>
              <th>Product Type</th>
              <th>Product ID</th>
              <th>Pattern</th>
              <th>Fabric</th>
              <th>Color</th>
              <th>Size</th>
              <th>Quantity</th>
              <th>Price </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of orderItems">
              <td>
                {{item.product.productType}}
              </td>

              <td class="product-title">
                {{item.product.productId}}
              </td>

              <td>
                {{item.product.pattern.patternName}}
              </td>
              <td>
                {{item.product.fabric.fabricName}}

              </td>
              <td>
                {{item.product.colour.colourName}}
              </td>
              <td>
                {{item.product.size.sizeName}}
              </td>

              <td>
                {{item.quantity}}

              </td>

              <td>
                {{item.unitPrice}}

              </td>

            </tr>
          </tbody>
        </table>
        <br>
        <button class="btn btn-info btn-fill btn-wd" (click)="editOrder()">Edit Order</button>
      </div>
    </div>
  </div>
  <div *ngIf="edit" class="col-lg-12 col-md-12">
    <div class="card">

      <div class="header">
        <h4 class="title">Edit Order: {{orderId}}</h4>
      </div>
      <hr>
      <div class="content">
        <h4>
          <b>Customer Email:</b> {{order.address.email}}</h4>
        <h4>
          <b>Order Total Price:</b> {{order.netAmt}}</h4>
        <h4>
          <b>Payment Timestamp:</b> {{order.order_TimeStamp}}</h4>
        <h4>
          <b>Stripe Charge ID:</b> {{order.paymentRefNo}}</h4>
        <hr>

        <form name="form" (ngSubmit)="f.form.valid && updateOrder()" #f="ngForm" novalidate>
          <label for="status">Status</label>
          <select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedStatus">
            <option *ngFor="let s of statusMenu" [ngValue]="s.statusName">{{s.statusName}}</option>
          </select>
          <div *ngIf="shipped"> 
            <label for="courier">Courier</label>
            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="order.courierName">
              <option *ngFor="let c of courierMenu" [ngValue]="c.courierName">{{c.courierName}}</option>
            </select>
          </div>
          <div class="form-group" *ngIf="shipped" [ngClass]="{ 'has-error': f.submitted && !shippingTrackingNum.valid }">
            <label for="shippingTrackingNum">Shipping Tracking Number</label>
            <input type="text" name="shippingTrackingNum" [(ngModel)]="order.trackingNo" #shippingTrackingNum="ngModel" required />
            <div *ngIf="f.submitted && !shippingTrackingNum.valid" class="help-block">Shipping Tracking Number is required</div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !recipient.valid }">
            <label for="recipient">Recipient Name</label>
            <input type="text" name="recipient" [(ngModel)]="order.address.recipientName" #recipient="ngModel" required />
            <div *ngIf="f.submitted && !recipient.valid" class="help-block">Recipient Name is required</div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
            <label for="address">Delivery Address</label>
            <input type="text" name="address" [(ngModel)]="order.address.addressLine" #address="ngModel" required />
            <div *ngIf="f.submitted && !address.valid" class="help-block">Delivery Address is required</div>
          </div>

          <hr>
          <h4 class="title">Order Summary</h4>
          <hr>
          <div class="displayProduct" *ngIf="!editProd">
            <table>
              <thead>
                <th> </th>
                <th>Product Type</th>
                <th>Product ID</th>
                <th>Pattern</th>
                <th>Fabric</th>
                <th>Color</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Price </th>
              </thead>

              <tbody>
                <tr *ngFor="let item of orderItems">
                  <td>
                    <u>
                      <div class="quickview-text" (click)=editProduct(item)>Edit Product</div>
                    </u>
                  </td>


                  <td>
                    {{item.product.productType}}
                  </td>

                  <td class="product-title">
                    {{item.product.productId}}
                  </td>

                  <td>
                    {{item.product.pattern.patternName}}
                  </td>

                  <td>
                    {{item.product.fabric.fabricName}}

                  </td>
                  <td>
                    {{item.product.colour.colourName}}
                  </td>
                  <td>
                    {{item.product.size.sizeName}}
                  </td>

                  <td>
                    {{item.quantity}}

                  </td>

                  <td>
                    {{item.unitPrice}}

                  </td>

                </tr>
              </tbody>

            </table>
          </div>
          <div class="editProduct" *ngIf="editProd">
            <table>
              <thead>

                <th>Product Type</th>
                <th>Product ID</th>
                <th>Pattern</th>
                <th>Fabric</th>
                <th>Color</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Price </th>
              </thead>


              <tbody>

                <tr>
                  <td class="product-title">
                    {{ selectedItem.product.productType}}
                  </td>

                  <td class="product-title">
                    {{selectedItem.product.productId}}
                  </td>

                  <td>
                    <select [(ngModel)]="selectedItem.product.pattern.patternName" (ngModelChange)="onPatternChange(selectedItem.product.pattern.patternName)"
                      [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let p of patternMenu" [ngValue]="p.design_name">{{p.design_name}}</option>
                    </select>
                  </td>

                  <td>
                    <select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedItem.product.fabric.fabricName" (ngModelChange)="onFabricChange(selectedItem.product.fabric.fabricName, selectedItem.product.pattern.patternName)">
                      <option *ngFor="let f of fabricMenu" [ngValue]="f.fabric_name">{{f.fabric_name}}</option>
                    </select>
                  </td>

                  <td>
                    <select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedItem.product.colour.colourName">
                      <option *ngFor="let c of colourMenu" [ngValue]="c.colourName">{{c.colourName}}</option>
                    </select>

                  </td>

                  <td>
                    <select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedItem.product.size.sizeName">
                      <option *ngFor="let s of sizeMenu" [ngValue]="s">{{s.sizeName}}</option>
                    </select>

                  </td>

                  <td>
                    {{selectedItem.quantity}}

                  </td>

                  <td>
                    {{selectedItem.unitPrice}}

                  </td>

                </tr>
              </tbody>


            </table>
          </div>
          <br>
          <button class="btn btn-info btn-fill btn-wd">Update Order</button>
        </form>
      </div>
    </div>







  </div>