<body>
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">Register</h2>
        <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
                <input type="text" placeholder="First Name" class="form-control" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel"
                    required />
                <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
                <input type="text" class="form-control" placeholder="Last Name" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel"
                    required />
                <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                <input type="text" class="form-control" placeholder="Email Address" name="email" [(ngModel)]="user.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    #email="ngModel" required />
                <div *ngIf="email.touched || f.submitted" class="help-block">
                    <div [hidden]="!email.hasError('required')">Email is required</div>
                    <div [hidden]="!email.hasError('pattern')">Email format should be
                        <small><b>joe@abc.com</b></small>
                    </div>
                </div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contact.valid }">
                <input type="text" class="form-control" placeholder="Phone Number" name="contact" [(ngModel)]="user.contact" #contact="ngModel"
                    required pattern="[0-9]*" />
                <div *ngIf="contact.touched || f.submitted" class="help-block">
                    <div [hidden]="!contact.hasError('required')">Contact is required</div>
                    <div [hidden]="!contact.hasError('pattern')">Only digit is allowed </div>
                </div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
                <input type="text" class="form-control" placeholder="Address" name="address" [(ngModel)]="user.address" #address="ngModel"
                    required />
                <div *ngIf="f.submitted && !address.valid" class="help-block">Address is required</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !postalCode.valid }">
                <input type="text" class="form-control" placeholder="Postal Code" name="postalCode" [(ngModel)]="user.postalCode" #postalCode="ngModel"
                    required />
                <div *ngIf="f.submitted && !postalCode.valid" class="help-block">Postal Code is required</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <input type="password" class="form-control" placeholder="Password" id="password" name="password" [(ngModel)]="user.password"
                    #password="ngModel" required />
                <div *ngIf="password.touched || f.submitted" class="help-block">
                    <div [hidden]="!password.hasError('required')">Password is required</div>
                </div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
                <input type="password" class="form-control" placeholder="Re-type Password" id="confirmPassword" name="confirmPassword" required
                    validateEqual="password" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" />
                <div *ngIf="confirmPassword.touched || f.submitted" class="help-block">
                    <div [hidden]="!confirmPassword.hasError('required')">Re-type your password</div>
                    <div *ngIf="confirmPassword.errors?.validateEqual">
                        Passwords did not match
                    </div>
                </div>


            </div>

            <div class="form-group text-right">
                <button [disabled]="loading" class="button">Register</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
            </div>
        </form>
    </div>
</body>