/* :host /deep/ .data-table-row {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 */
 md-chip{
    font-family: 'Muli';  
    font-size: 30px;
 }

 .content{
      padding-top:140px
 }
 .container-fluid{
      padding-top:100px
 }

.header{
    font-family: 'Muli';
    color: #DD0330;
    font-size: 30px;

}
.h2 {
    font-family: 'Muli';
    font-size: 18px;
    text-align: left;
}



.breadcrumb {
    height: 140px;
    background-color: white;
}

.item-count {
    width:25px;
    height:25px;
    border:2.5px solid lightcoral;
    padding-left: 2px;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

button {
    font-family: Tahoma,Geneva,sans-serif;
}

/* button:target {
    border-style: inset;
} */

.ti-wallet{
    width: 20px;
    height: 20px;
}

.progress-row{
   /*  padding-right: 10px; */ 
   
    /* align-items: center; */
}

.progress-bar{
    padding: 0px;

}

.progress-button{
    width: 150px;
}
.pulse {
    box-shadow: 0 0 0 rgba(204, 44, 44, 0.40);
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.40);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204, 90, 44, 0.40);
      box-shadow: 0 0 0 0 rgba(204, 96, 44, 0.40);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }

  /* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border-bottom: 1px solid goldenrod;
    text-align: center;
    padding: 8px;
    width: 20%;
}
*/
hr{
    border-color:rgba(221, 0, 45, 0.16);
}

thead{
    font-family: 'Muli';
    font-size: 18px;

} 

.img-product {
    width: 200px;
    text-align: center;
}

.pattern-name{
    font-weight: bold;
    font-size: 16px;
}

.title{
    font-size: 18px;
    font-family: 'Muli';
    font-weight: bold;
}


.box{
    position: relative;
    
}
.box .progress-row{
position: absolute;
z-index: 999;
margin: 0 auto;
left: 0;
right: 0;        
text-align: center;
top: -1200%; /* Adjust this value to move the positioned div up and down */
color: white;
}

.mat-mini-fab.mat-basic:hover {
    color: white;
    background: #f44336;
}

.annotation{
    font-family: 'Muli';
    font-size: 12px;
}





.mat-mini-fab[disabled][disabled]{
    background: #f44336;
    color: white;
}

.test{
    padding-left: 0px;
    color:goldenrod;
    font-size: 10px;
    text-align: center;
}

.status{
    color: goldenrod;
}

.button{
    background-color: goldenrod;
}