<div class="content" *hideItDevice="['mobile','tablet']">

  <div class="box">
    <md-progress-bar [ngStyle]="{'color': goldenrod}" class="example-margin" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
    </md-progress-bar>

    <div class="row">
      <div class="col-12 progress-row">
        <div class="button-row">
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
            <div class="annotation">
              <font class="status">
                &nbsp;&nbsp;PAYMENT<br/>&nbsp;&nbsp;RECEIVED
              </font>
            </div>
            <button [ngClass]="{'pulse': pulse.payment}" md-fab class="button" [disabled]="isDisabled.payment">
        <i class="ti-wallet"></i>
      </button>
          </div>

          <div class="col-md-1">
          </div>

          <div class="col-md-1">
            <div class="annotation">
              <font class="status">
                IN<br/>&nbsp;PRODUCTION
              </font>
            </div>
            <button [ngClass]="{'pulse': pulse.production}" md-fab color="warn" [disabled]="isDisabled.production">
          <span class="ti-cut"></span>
      </button>
          </div>

          <div class="col-md-1">
          </div>

          <div class="col-md-1">
            <div class="annotation">
              <font class="status">
                <br/>&nbsp;PACKAGING
              </font>
            </div>
            <button [ngClass]="{'pulse': pulse.packaging}" md-fab color="warn" [disabled]="isDisabled.packaging">
          <span class="ti-package"></span>
      </button>
          </div>

          <div class="col-md-1">
          </div>

          <div class="col-md-1">
            <div class="annotation">
              <font class="status">
                PENDING FOR<br/>&nbsp;SHIPMENT
              </font>
            </div>
            <button [ngClass]="{'pulse': pulse.preparation}" md-fab color="warn" [disabled]="isDisabled.preparation">
          <span class="ti-location-arrow"></span>
      </button>
          </div>

          <div class="col-md-1">
          </div>

          <div class="col-md-1">
            <div class="annotation">
              <font class="status">
                <br/>&nbsp;SHIPPED
              </font>
            </div>
            <button [ngClass]="{'pulse': pulse.shipped}" md-fab color="warn" [disabled]="isDisabled.shipped">
        <span class="ti-truck"></span>
      </button>
          </div>

          <div class="col-md-1">
          </div>

          <div class="col-md-1">
            <div class="annotation">
              <font class="status">
                <br/>&nbsp;COMPLETED
              </font>
            </div>
            <button [ngClass]="{'pulse': pulse.completed}" md-fab color="warn" [disabled]="isDisabled.completed">
          <span class="ti-check"></span>
      </button>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="container-fluid">
    <md-card>
      <h4 class="title">Order Summary</h4>

      <div class="content table-responsive table-full-width">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Product</th>
              <th>ID</th>
              <th>Type</th>
              <th>Pattern</th>
              <th>Fabric</th>
              <th>Color</th>
              <th>Size</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of orderItems">
              <td><img src="{{item.product.images[0].imageUrl}}" alt="..." class="img-product"><br/></td>
              <td class="product-title">
                {{item.product.productId}}
              </td>
              <td>
                {{item.product.productType}}
              </td>
              <td>
                {{item.product.pattern.patternName}}
              </td>
              <td>
                {{item.product.fabric.fabricName}}

              </td>
              <td>
                {{item.product.colour.colourName}}
              </td>
              <td>
                {{item.product.size.sizeName}}
              </td>

              <td>
                {{item.quantity}}

              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </md-card>
  </div>
</div>

<div class="content container" *showItDevice="['mobile','tablet']" style="padding-top:80px;">
  <md-card style="padding-top:5px !important;">
    <div class="row" >
      <h5 class="col-sm-5 col-xs-5">Latest Status : </h5>
      <div class="col-sm-7 col-xs-7">
        <h5 class="pull-right"><i>Next : {{map[statusId+1]}}</i></h5>
      </div>
    </div>
    <h2 class="status">{{statusLog[statusLog.length - 1].orderStatus.statusName}}</h2>
  </md-card>

  <button type="button" class="pull-right see" data-toggle="collapse" data-target="#more">see previous</button>

  <hr class="">
  <div id="more" class="collapse">
      <ul class="timeline">
          <li class="event" *ngFor="let s of statusLog">
            <div class="member-infos">
              <h1 class='member-title'>{{s.orderStatus.statusName}}</h1>
              <h2 class="member-location "><span class=''></span>{{s.startTimeStamp}}</h2>
            </div>
          </li>
      </ul>
    <hr>
  </div>
  <h1>Order Details</h1>
  <hr class="line">
  <div *ngFor="let item of orderItems">
      <div class="row">
        <div class="col-xs-6 col-sm-6" style="margin-right:0px; padding-right:5px">
          <img src="{{item.product.images[0].imageUrl}}" alt="..." class="img-product">
        </div>
        <div class="col-xs-6 col-sm-6" style="padding-left:15px; line-height:150%">

          <div class="pattern-name">{{item.product.pattern.patternName}}</div>
          <b>Product ID:</b> {{item.product.productId}}
          <br><b>Fabric:</b> {{item.product.fabric.fabricName}}
          <br><b>Colour:</b> {{item.product.colour.colourName}}
          <br><b>Size:</b> {{item.product.size.sizeName}}
          <br><b>Qty:</b> {{item.quantity}} @ $ {{item.unitPrice}}.00
          <br>
          <br>
        </div>
      </div>

      <hr>
    </div>
  <!-- <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title >
        <span *ngIf="statusLog.property!=null">{{statusLog[statusLog.length - 1].orderStatus.statusName}}</span>
      </md-panel-title>
    </md-expansion-panel-header>
    <div class="timeline">
      <ul class="list">
        <li>
          <div class="bullet"></div>
          <div class="time">5pm</div>
          <div class="desc">
            <h3>New Icon</h3>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="bullet"></div>
          <div class="time">5pm</div>
          <div class="desc">
            <h3>New Icon</h3>
          </div>
        </li>
      </ul>
    </div>
  </md-expansion-panel> -->
</div>