.colour-group{
    width: 100px;
}

.example-card {
    width: 400px;
  }
  
  .example-header-image {
    
    background-size: cover;
  }

  .header{
      font-family: 'Muli';
      background-color: lightcoral;
      color: white;
  }