<body>
  <!-- parallax text -->
  <div class="parallax text-center">
    <div class="about-title">
      ABOUT US
    </div>
  </div>

  <br />

  <div class="container">
    <div class="text-center">
      <div class="quote">
        <div class="col-md-8 col-md-offset-2">
          <h3>"The details are not the details.They make the design"</h3>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <h5><i>- Charles Eames -</i></h5>
        </div>
      </div>
      <br>
      <div class="about">
        <div class="col-md-8 col-md-offset-2">
          Highlander London is the newest brand from the Grand Canyon Ltd, which founded in 1998. Grand Canyon Ltd is a soft furnishing
          provider that offers a wide range of products. It vertically integrated along the value chain and has developed
          capabilities in research, design, production and retail segments of the business. Grand Canyon Ltd has expanded
          to more than 100 stores in 7 different cities in China, with special focus on the costal cities. Since 2000, Grand
          Canyon commenced a multi-brand strategy with Mila Mila, Backyard, and Highlander London. Highlander London is especially
          focus on high-income females; age between 22-25 and in pursuit of a classic lifestyle with comfortable living.
          It works with a young designer from London to provide best-designed and high quality products.
        </div>
      </div>
    </div>
  </div>

</body>