<body>
  <app-loading *ngIf="loading"></app-loading>
  <div *ngIf="!loading">
    <md-card>
      <!-- <div class="container"> -->
      <!-- view page -->
      <div class="row">
        <div class="header">
          <h1> <b>&nbsp; New Colour</b></h1>
        </div>

      </div>
      <br/>

      <!-- edit page -->

      <div class="row">
        <div class="col-sm-6">
          <form *ngIf="!loading" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" class="form" novalidate>
            <div class="form-group" placeholder="Fabric Name" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
              <label for="name">Colour Name</label>
              <input class="form-control" type="text" class="form-control" name="name" [(ngModel)]="item.colourName" #name="ngModel" required/>
              <div *ngIf="f.submitted && !name.valid" class="help-block">Colour name is required</div>
            </div>

            <div class="form-group">
              <button md-raised-button [ngStyle]="{'background-color': 'lightcoral', 'color': 'white'}">Save</button>
            </div>

          </form>

        </div>

        <!-- <div class="col-sm-4"> -->

        <!-- <img src="{{product.images[0].imageUrl}}" alt="..." class="img-thumbnail img-product" [routerLink]="['/productDetails', product.pattern_id]">
                    <a href={{product.images[0].imageUrl}}>View Image</a> -->
        <!-- <div class="form-group">
                  <div class="col-sm-6">
                    <label><b>Images</b></label><br/>
                    <button md-button color="primary" (click)="onAddImage()">Add More</button>
                  </div>
                  <span *ngFor="let image of product.images">
                          
                          <div class="col-sm-3">
                            
                              <a href={{image.imageUrl}}><img src="{{image.imageUrl}}" alt="..." class="img-thumbnail img-product"></a><br/>
                              Image {{image.imageId}} <br/>
                              <label class="btn btn-default btn-file">  
                                  
                              Upload Image <input type="file" (change)="onUploadImage($event, image)" style="display: none;">
                            </label>
                            
                            </div>
                    </span>
                </div> -->

      </div>
      <!-- </div> -->
    </md-card>


  </div>

</body>