<div class="container">

  <div class="col-md-8">
    <div class="card">


      <div class="content">
        <div class="header">
          <h4 class="title">Your shipping address</h4>
        </div>

        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
          <div class="form-group">


            <label>First Name</label>


            <input type="text" class="form-control border-input" [(ngModel)]="user.firstName" name="firstName" value={{firstName}} required>


            <label>Last Name</label>
            <input type="text" class="form-control border-input" [(ngModel)]="user.lastName" name="lastName" value={{lastName}} required>


            <label>Postcode</label>
            <input type="text" class="form-control border-input" [(ngModel)]="user.postCode" name="postCode" value={{postalCode}} required>

            <label>Address</label>
            <input type="text" class="form-control border-input" [(ngModel)]="user.address" name="address" value={{address}} required>

            <label>Contact Number</label>
            <input type="text" class="form-control border-input" [(ngModel)]="user.contact" name="contact" value={{contact}} required>


            <input type="checkbox" [(ngModel)]="user.sameAddress" name="sameAddress" (ngModelChange)="sameAddress()">
            <label>Bill to the existing address</label>
            <br>
            <button class="button">Continue</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="content">
        <div class="header">
          <h4 class="title">Order Summary</h4>
        </div>
        <label> Product  </label>
        <label> Quantity </label>
        <label> Price    </label>
        <div *ngFor="let c of carts; let i=index">
     
          <br> {{c.SKU}} &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          <select [(ngModel)]="selectedQuantity[i]"  >
            <option *ngFor="let q of quantity" [ngValue]="q">{{q}}</option>
          </select>
          &emsp;&emsp;&emsp;&emsp;
          {{(c.pattern_price+c.fabric_price+c.colour_price)*selectedQuantity[i]}}
          <br> ()
        
        </div>


      </div>
    </div>

  </div>



</div>