<div class="container">

  <div class="col-md-7">
    <div class="card">
      <div class="content">
        <div class="header">
          <h4 class="title">Your shipping address</h4>
        </div>


        <form name="form" (ngSubmit)="submit()" #f="ngForm" novalidate>


          <label>First Name</label>
           <input type="text" class="form-control border-input" [(ngModel)]="user.firstName" name="firstName" required>

          <label>Last Name</label>
          <input type="text" class="form-control border-input" [(ngModel)]="user.lastName" name="lastName" required>

          <label>Postcode</label>
          <input type="text" class="form-control border-input" [(ngModel)]="user.postCode" name="postCode" required>

          <label>Address</label>
          <input type="text" class="form-control border-input" [(ngModel)]="user.address" name="address" required>

          <label>Contact Number</label>
          <input type="text" class="form-control border-input" [(ngModel)]="user.contact" name="contact" required>

          <input type="checkbox" [(ngModel)]="user.sameAddress" name="sameAddress" (ngModelChange)="sameAddress()">
          <label>Bill to the existing address</label>
          <br/>

          <button class="button">Continue</button>


        </form>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="card">
      <div class="content">
        <div class="header">
          <h4 class="title">Order Summary</h4>
        </div>

        <div class="row">
          <div class="col-sm-3">
          </div>

          <div class="col-sm-3">
            Product
          </div>

          <div class="col-sm-2">
            Quantity
          </div>

          <div class="col-sm-2">
            Price
          </div>

          <div class="col-sm-2">
          </div>


        </div>

        <div *ngFor="let c of carts; let i=index">
          <div class="row">
            <div class="col-sm-3">
              <img src="{{c.image_url}}" style="height:50px; width:50px" class="img-responsive" alt="Some picture">
            </div>

            <div class="col-sm-3">
              {{c.SKU}}
            </div>

            <div class="col-sm-2">
              <select [(ngModel)]="c.quantity" (ngModelChange)="onQtyChange(c)">
                <option *ngFor="let q of quantity" [ngValue]="q">{{q}}</option>
              </select>
            </div>

            <div class="col-sm-2">

              {{ (c.pattern_price+c.fabric_price+c.colour_price)*c.quantity}} {{ addPrice(i, ((c.pattern_price+c.fabric_price+c.colour_price)*c.quantity))}}

            </div>

            <div class="col-sm-2" (click)=delete(i,c)>
              &#10006;
            </div>
            <br> ({{c.pattern_name}}+{{c.fabric_name}}+{{c.colour_name}})
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <h4> Total </h4>
          </div>

          <div class="col-sm-2">
            {{showTotalPrice()}}


          </div>


        </div>
      </div>
    </div>



  </div>