<!-- <button md-raised-button [ngStyle]="{'background-color': color.all}" (click)="onStatusChange('all')">All</button>
<button md-raised-button [ngStyle]="{'background-color': color.payment}" (click)="onStatusChange('payment')">Payment Received</button>
<button md-raised-button [ngStyle]="{'background-color': color.production}" (click)="onStatusChange('production')">Production</button>
<button md-raised-button [ngStyle]="{'background-color': color.packaging}" (click)="onStatusChange('packaging')">Packaging</button>
<button md-raised-button [ngStyle]="{'background-color': color.preparation}" (click)="onStatusChange('preparation')">Shipment Preparation</button>
<button md-raised-button [ngStyle]="{'background-color': color.transit}" (click)="onStatusChange('transit')">In Transit</button>
<button md-raised-button [ngStyle]="{'background-color': color.completed}" (click)="onStatusChange('completed')">Completed</button>

 -->

<div class="row">
  <div class="col-sm-12 progress-row">
  <div class="button-row">
    <div class="col-md-1">
      <button [ngClass]="{'pulse': pulse.payment}" md-fab color="warn" [disabled]="isDisabled.payment">
        <i class="ti-wallet"></i>
      </button>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-1">
      <button [ngClass]="{'pulse': pulse.production}" md-fab color="warn" [disabled]="isDisabled.production">
          <span class="ti-cut"></span>
      </button>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-1">
      <button [ngClass]="{'pulse': pulse.packaging}" md-fab color="warn" [disabled]="isDisabled.packaging">
          <span class="ti-package"></span>
      </button>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-1">
      <button [ngClass]="{'pulse': pulse.preparation}" md-fab color="warn" [disabled]="isDisabled.preparation">
          <span class="ti-location-arrow"></span>
      </button>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-1">
      <button [ngClass]="{'pulse': pulse.transit}" md-fab color="warn" [disabled]="isDisabled.transit">
        <span class="ti-truck"></span>
      </button>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-1">
      <button [ngClass]="{'pulse': pulse.completed}" md-fab color="warn" [disabled]="isDisabled.completed">
          <span class="ti-check"></span>
      </button>
    </div>

    <div class="col-md-1">
    </div>
  </div>
  </div>
    <md-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
    </md-progress-bar>
  </div>