<div class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed burger pull-left" data-toggle="collapse" data-target="#navbar-collapse"
                (click)="toggleState()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            <a *showItDevice="['mobile','tablet']" class="btn btn-cart pull-right" routerLink="/cart">
                <div class="box" style="margin-bottom : 10px;">
                    <img src="/assets/images/shopping-bag.png" style="width:30px">
                    <div class="text">
                        <h2 style="font-size: 15px;" *ngIf="itemCount!=0">{{itemCount}}</h2>
                    </div>
                </div>
            </a>
             <img href='' class="navbar-brand text-center" src="/assets/images/logo.jpg" style="height:60px; padding:5px; padding-bottom:10px; margin-right:20px;">

        </div>
        <div class="collapse navbar-collapse in" [ngClass]="{ 'in': isIn }" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- MOBILE NAVBAR -->
                    <li *showItDevice="['mobile','tablet']" class="nav-item" data-toggle="collapse" data-target="#navbar-collapse" (click)="toggleState()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" routerLink=''>Home</a></li>
                    <li *showItDevice="['mobile','tablet']" class="nav-item" data-toggle="collapse" data-target="#navbar-collapse" (click)="toggleState()" routerLinkActive="active"><a class="nav-link" routerLink="/about">About</a></li>
                    <li *showItDevice="['mobile','tablet']" class="nav-item" data-toggle="collapse" data-target="#navbar-collapse" (click)="toggleState()" routerLinkActive="active"><a class="nav-link" routerLink="/products">Beddings</a></li>
                    <li *showItDevice="['mobile','tablet']" class="nav-item" data-toggle="collapse" data-target="#navbar-collapse" (click)="toggleState()" routerLinkActive="active"><a class="nav-link" routerLink="/accessories">Home Accesssories</a></li>
                    <li *showItDevice="['mobile','tablet']" class="nav-item" data-toggle="collapse" data-target="#navbar-collapse" (click)="toggleState()" routerLinkActive="active"><a class="nav-link" routerLink="/store-locator">Find Us</a></li>
                    <li class="nav-item" data-toggle="collapse" data-target="#navbar-collapse" (click)="toggleState()" routerLinkActive="active" *showItDevice="['mobile','tablet']">
                        <a *ngIf="authenticated" class="nav-link dropdown-toggle slide" ref="#" routerLink="../profile-sidebar" data-toggle="dropdown">My Profile</a>
    
                    </li>
                    <li class="nav-item" data-toggle="collapse" data-target="#navbar-collapse" (click)="toggleState()" routerLinkActive="active" *showItDevice="['mobile','tablet']"><a *ngIf="authenticated" class="nav-link" (click)="logout()">Logout</a></li>
               
                    <li class="nav-item" data-toggle="collapse" data-target="#navbar-collapse" (click)="toggleState()" routerLinkActive="active" *showItDevice="['mobile','tablet']"><a *ngIf="!authenticated" class="nav-link" routerLink="../register">Register</a></li>
                    <li class="nav-item" data-toggle="collapse" data-target="#navbar-collapse" (click)="toggleState()" routerLinkActive="active" *showItDevice="['mobile','tablet']"><a *ngIf="!authenticated" class="nav-link" (click)="showLogin()">Login</a></li>
              <!-- DESKTOP NAVBAR -->
                    <li *hideItDevice="['mobile','tablet']" class="nav-item" (click)="toggleState()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" routerLink=''>Home</a></li>
                    <li *hideItDevice="['mobile','tablet']" class="nav-item" (click)="toggleState()" routerLinkActive="active"><a class="nav-link" routerLink="/about">About</a></li>
                    <li *hideItDevice="['mobile','tablet']" class="nav-item" (click)="toggleState()" routerLinkActive="active"><a class="nav-link" routerLink="/products">Beddings</a></li>
                    <li *hideItDevice="['mobile','tablet']" class="nav-item" (click)="toggleState()" routerLinkActive="active"><a class="nav-link" routerLink="/accessories">Home Accesssories</a></li>
                    <li *hideItDevice="['mobile','tablet']" class="nav-item" (click)="toggleState()" routerLinkActive="active"><a class="nav-link" routerLink="/store-locator">Find Us</a></li>
                    
            </ul>

            <ul class="nav navbar-nav pull-right" *hideItDevice="['mobile','tablet']">
                <a (click)="toggleState()" class="btn btn-cart" routerLink="/cart">
                    <div class="box">
                        <img src="/assets/images/shopping-bag.png" style="width:30px">
                        <div class="text">
                            <h2 style="font-size: 15px;" *ngIf="itemCount!=0">{{itemCount}}</h2>
                        </div>
                    </div>
                </a>
                <a (click)="toggleState()" class="btn btn-cart" routerLink="../profile-sidebar" *ngIf="authenticated">
                    <div class="box dropdown">
                        <img class="dropbtn" src="/assets/images/user.png" style="width:30px">
                        <div class="dropdown-content nav-item">
                            <a *ngIf="authenticated" routerLink="../profile-sidebar">My Account</a>
                            <a *ngIf="authenticated" (click)="logout()">Logout</a>
                        </div>
                    </div>

                </a>
                <button *ngIf="!authenticated" class="btn btn-default" (click)=showLogin()>Login</button>
                <a routerLink="../register"><button *ngIf = "!authenticated"class="btn btn-default">Register</button> </a>
                <!-- <button *ngIf="authenticated" class="btn btn-default" (click)="logout()">Logout</button> -->
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-106185727-2', 'auto');

</script>