.navbar-default {
    padding-top: 8px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 0px;
}

.nav-item {
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    border-top: 5px solid goldenrod;

}

.btn-default{
    border: 1px solid goldenrod;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: Georgia;
    font-size: 12px;
    font-style: italic;
    color: black;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-top: 10px;
}

.btn-default:hover, .btn-default:focus, .btn-primary:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: goldenrod; 
    color: white;
}

