h2{
    font-family: Georgia;
    font-size: 22px;
    color: #888888;
}

hr{
    color: goldenrod;
    background-color: goldenrod;
    height: 0.5px;
}

.button{
    border: 1px solid goldenrod;
    background-color: goldenrod; 
    font-family: Georgia;
    font-size: 16px;
    color: white;
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 40px;
    margin-top: 10px;
}

input[type=text],[type=password] {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid goldenrod;
}

body { 
    padding-top: 65px; 
}

.left-button{
    border: 1px solid goldenrod;
    background-color: goldenrod; 
    font-family: Georgia;
    font-size: 16px;
    color: white;
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 40px;
    margin-top: 10px;
}
.right-button{
    border: 1px solid goldenrod;
    background-color: goldenrod; 
    font-family: Georgia;
    font-size: 16px;
    color: white;
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 40px;
    margin-top: 10px;
}

.content{
    font-family: Georgia;
}