<div class="row ">
  <!-- <div class="col-md-12 "> -->
  <div class="card ">
    <div style="margin: auto; max-width: 1000px; margin-bottom: 50px; ">
      <data-table id="product-grid " [items]="products " [itemCount]="itemCount" (reload)="reloadItems($event) " (rowClick)="rowClick($event) "
        (rowDoubleClick)="rowDoubleClick($event) " [rowTooltip]="rowTooltip" [substituteRows]="false " [translations]="translations"
        [indexColumnHeader]=" '#' " [selectOnRowClick]="true " [multiSelect]="false">
        <data-table-column [resizable]="true ">
          <template #dataTableCell let-item="item">
            <img src="{{item.images[0].imageUrl}}" height="120" width="120" alt="...">
          </template>
        </data-table-column>

        <data-table-column [property]=" 'productId_display' " [header]=" 'Product ID' " [sortable]="true
" [resizable]="true ">
        </data-table-column>

        <data-table-column [property]=" 'pattern' " [header]=" 'Pattern' " [sortable]="true " [resizable]="true ">
            <template #dataTableCell let-item="item ">
                <span>{{item.pattern.patternName}}</span>
            </template>
        </data-table-column>

        <data-table-column [property]=" 'fabric_name' " [header]=" 'Fabric Name' " [sortable]="true
        " [resizable]="true ">
        </data-table-column>

        <data-table-column [property]=" 'colour_name' " [header]=" 'Colour Name' " [sortable]="true
        " [resizable]="true ">
        </data-table-column>

      </data-table>
      <div style="margin-top: 10px ">
        <b>Selected:</b>
        <span *ngIf="table.selectedRow==null "><i>No item selected</i></span>
        <span [textContent]="table.selectedRow && orderTable.selectedRow.item.product_id "></span>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>