ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    text-align: right;
}

button {
    border: 1px solid #B0A171;
    background-color: #B0A171; 
    font-family: Georgia;
    font-size: 16px;
    color: white;
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 40px;
    margin-top: 10px;
}

/* Change the link color on hover */
button:hover, button:focus {
    background-color: #B0A171;
    color: white;
}



body { 
    padding-top: 80px; 
    padding-left: 0px;
}

.content{
    border: 1px solid #B0A171;
}


@media only screen and (max-width: 500px) {
    th{
        border: 0.5px solid #B0A171;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #B0A171;
        text-align: center;
        padding: 4px 4px;
    }
    th > a{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #B0A171;
        text-align: center;
    }
    th:active, th:hover{
        /* background: rgb(220,220,220); */
        color: white;
    }
    a:active, a:hover{
        /* background: rgb(220,220,220); */
        color: white;
    }

    table{
        width: 100%;
        text-align: center;
    }
}