<body class="container">
  <div class="row">
    <div class="col-md-3">     
      <ul>
        <li><a class="sidebar-item active" (click)=manageAccount()>Manage Account</a></li>
        <li><a class="sidebar-item" (click)=manageAddressBook()>Address Book</a></li>
        <li><a class="sidebar-item" (click)=trackOrder()>Track Order</a></li>
      </ul>
    </div>
    <div class="content col-md-9" >
      <app-profile *ngIf="account"></app-profile>
      <app-address-book *ngIf="addressBook"></app-address-book>
      <app-track-order *ngIf="track"></app-track-order>
    </div>
  </div>
</body>