<div class="container-fluid">
    <div class="row">
        <button md-raised-button [ngStyle]=" { 'background-color': color.all} " (click)="onStatusChange( 'all') ">All</button>
        <button md-raised-button [ngStyle]="{ 'background-color': color.payment} " (click)="onStatusChange( 'payment') ">Payment Received</button>
        <button md-raised-button [ngStyle]="{ 'background-color': color.production} " (click)="onStatusChange( 'production') ">Production</button>
        <button md-raised-button [ngStyle]="{ 'background-color': color.packaging} " (click)="onStatusChange( 'packaging') ">Packaging</button>
        <button md-raised-button [ngStyle]="{ 'background-color': color.preparation} " (click)="onStatusChange( 'preparation') ">Shipment Preparation</button>
        <button md-raised-button [ngStyle]="{ 'background-color': color.transit} " (click)="onStatusChange( 'transit') ">In Transit</button>
        <button md-raised-button [ngStyle]="{ 'background-color': color.completed} " (click)="onStatusChange( 'completed') ">Completed</button>
    </div>
    <div class="row ">
        <!-- <div class="col-md-12 "> -->
            <div class="card ">
                <div style="margin: auto; max-width: 1000px; margin-bottom: 50px; ">
                    <data-table id="order-grid " headerTitle="Orders " [items]="orders " [itemCount]="itemCount
    " (reload)="reloadItems($event) " (rowClick)="rowClick($event) " (rowDoubleClick)="rowDoubleClick($event) " [rowTooltip]="rowTooltip
    " [selectColumn]="true " [multiSelect]="false " [substituteRows]="false " [expandableRows]="true " [translations]="translations
    " [indexColumnHeader]=" '#' " [selectOnRowClick]="true ">
                        <template #dataTableExpand let-item="item ">
                            <div *ngFor="let oi of item.order_items ">
                                Product ID: {{oi.product_id}} Qty: {{oi.quantity}}
                            </div>
                            <!-- <div [textContent]="item.order_items[0].product_id " style="padding: 5px; color: gray "></div> -->
                        </template>
                        <data-table-column [property]=" 'order_id' " [header]=" 'Order ID' " [sortable]="true
    " [resizable]="true ">
                        </data-table-column>

                        <data-table-column [property]=" 'order_date' " [header]=" 'Date' " [sortable]="true " [resizable]="true ">
                            <template #dataTableCell let-item="item ">
                                <span>{{item.order_date | date:'yyyy-MM-dd'}}</span>
                            </template>
                        </data-table-column>

                        <data-table-column property="currentStatus " header="Status " [sortable]="true " [resizable]="true ">
                        </data-table-column>

                    </data-table>
                    <div style="margin-top: 10px ">
                        <b>Selected:</b>
                        <span *ngIf="orderTable.selectedRow==n ull "><i>No item selected</i></span>
                        <span [textContent]="orderTable.selectedRow && orderTable.selectedRow.item.order_id "></span>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>