<body class="container" *ngIf="empty">
  <div class="row">
    <h1 class="title" style="font-size: 20px; color:gray; text-align:center">Your Shopping Cart is Empty!</h1>
  </div>
</body>


<body class="container" *ngIf="!empty">
  <div class="row">
    <div class="col-md-6">
      <h1 class="title">My Shopping Cart</h1>
    </div>
  <div class="col-md-6">
      <button class="pull-right checkout"  (click)="onCheck(code)" routerLink="/checkout" *hideItDevice="['mobile','tablet']">Checkout</button>
    </div>
    
  </div>
  
  <hr>
  <div class="row">
    <div class="col-sm-12 col-xs-12" *hideItDevice="['mobile','tablet']">
      <table>
        <tr>
          <th>Product</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Total</th>
          <th></th>
        </tr>
        <tr *ngFor="let item of shoppingCart.cartItems">
          <td><img src="{{item.product.images[0].imageUrl}}" alt="..." class="img-product"><br/></td>
          <td class="product-title">
            <div class="pattern-name">{{item.product.pattern.patternName}}</div>
            <b>Product ID:</b> {{item.product.productId}}
            <br><b>Fabric:</b> {{item.product.fabric.fabricName}}
            <br><b>Colour:</b> {{item.product.colour.colourName}}
            <!-- <br><b>Size:</b> {{item.product.size.sizeName}} -->
            <br> {{item.unitPrice| currency:'USD':true:'1.2-2'}}

          </td>
          <td>
            <button class="change-qty" (click)="decrement(item.product.productId)">-</button> {{item.quantity}}
            <button class="change-qty" (click)="increment(item.product.productId)">+</button>
          </td>
          <td>
            {{item.quantity*item.unitPrice| currency:'USD':true:'1.2-2'}}
          </td>
          <td>
            <button class="remove" (click)="remove(item.product.productId)">remove</button>
          </td>
        </tr>

        <tr>
        <td colspan="3" style="text-align: right; font-size: 16px; font-weight:bold">Promo Code</td>
        <td><input type="text" name="code" class="btn btn-default" [(ngModel)]="code"/></td>
        <td><button class="remove" id = "check" (click)="onCheck(code)">apply</button></td>
        </tr>

        <tr>
          <td colspan="3" style="text-align: right; font-size: 16px; font-weight:bold">Discount</td>
          <td>{{shoppingCart.discount| currency:'USD':true:'1.2-2'}}</td>
          <td>{{shoppingCart.promoMsg}}</td>
        </tr>

        <tr>
          <td colspan="3" style="text-align: right; font-size: 16px; font-weight:bold">Total Price</td>
          <td>{{shoppingCart.price-shoppingCart.discount| currency:'USD':true:'1.2-2'}}</td>
          <td></td>
        </tr>

      </table>
    </div>

    <div class="container" *showItDevice="['mobile','tablet']">
      <div *ngFor="let item of shoppingCart.cartItems">
        <div class="row">
          <div class="col-xs-6 col-sm-6" style="margin-right:0px; padding-right:0px">
            <img src="{{item.product.images[0].imageUrl}}" alt="..." class="img-product">
          </div>
          <div class="col-xs-6 col-sm-6" style="padding-left:0px">

            <div class="pattern-name">{{item.product.pattern.patternName}}</div>
            <b>Product ID:</b> {{item.product.productId}}
            <br><b>Fabric:</b> {{item.product.fabric.fabricName}}
            <br><b>Colour:</b> {{item.product.colour.colourName}}
            <!-- <br><b>Size:</b> {{item.product.size.sizeName}} -->
            <br>
            <button class="change-qty" (click)="decrement(item.product.productId)">-</button> {{item.quantity}}
            <button class="change-qty" (click)="increment(item.product.productId)">+</button> @ {{item.unitPrice| currency:'USD':true:'1.2-2'}}
            <br>
            <br>
            <button class="remove pull-right" (click)="remove(item.product.productId)">remove</button>

          </div>
        </div>

        <hr>
      </div>
      <div class="container">
        <div class="row">
          <h1 class="title">Order Summary | <i>{{shoppingCart.cartItems.length}} item(s)</i></h1>
        </div>
        <hr>
        <div class="row">
          <table>
            <tbody>
              <tr>
                <td>Subtotal</td>
                <td class="table-right"><b>{{shoppingCart.price| currency:'USD':true:'1.2-2'}}</b></td>
              </tr>
              <tr >
                <td>Delivery</td>
                <td class="table-right" >free</td>
              </tr>
              <tr >
                  <td>Total</td>
                  <td class="table-right" style="font-size: 24px;"><b>{{shoppingCart.discount| currency:'USD':true:'1.2-2'}}</b></td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div col-xs-12 col-sm-12>
            <button class="checkout" routerLink="/checkout">Checkout     <span class="glyphicon glyphicon-menu-right"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</body>