

      <div class="card">
        <div class="header">
          <h4 class="title">Promo Code List</h4>
          <button class="btn btn-info btn-fill btn-wd pull-right" [disabled]="add" (click)="addPromo()">Add New Promo</button>
        </div>
        <hr>

        
        <div class="content">
          <table>
            <thead>
              <th>ID</th>
              <th>Promo Code</th>
              <th>Promo Name</th>
              <th>Type</th>
              <th>Value</th>
              <th>Start Date</th>
              <th>End Date</th>
            </thead>
            <tbody *ngFor="let p of promoList">
              <td>
                {{p.promoCodeId}}
              </td>
              <td>
                {{p.promoCode}}
              </td>
              <td>
                {{p.promoName}}
              </td>
              <td>
                {{p.promoType}}
              </td>
              <td>
                {{p.promoValue}}
              </td>
              <td>
                {{p.startDate}}
              </td>
              <td>
                {{p.endDate}}
              </td>
              <td>
                  <button class="btn btn-info btn-fill btn-wd pull-right" (click)="deletePromo(p)">Delete</button>
              </td>
            </tbody>
          </table>
        </div>
      </div>