

      <div class="card">
        <div class="header">
          <h4 class="title">Promo Code List</h4>
          <button class="btn btn-info btn-fill btn-wd pull-right" [disabled]="add" (click)="addPromo()">Add New Promo</button>
        </div>
        <hr>

        
        <div class="content">
          <table>
            <thead>
              <th style="text-align: center">ID</th>
              <th style="text-align: center">Promo Code</th>
              <th style="text-align: center">Promo Name</th>
              <th style="text-align: center">Type</th>
              <th style="text-align: center">Value</th>
              <th style="text-align: center">Min. Purchase</th>
              <th style="text-align: center">Max Discount</th>
              <th style="text-align: center">Start Date</th>
              <th style="text-align: center">End Date</th>
            </thead>
            <tbody *ngFor="let p of promoList">
              <td style="text-align: center">
                {{p.promoCodeId}}
              </td>
              <td style="text-align: center">
                {{p.promoCode}}
              </td>
              <td style="text-align: center">
                {{p.promoName}}
              </td>
              <td style="text-align: center">
                {{p.promoType}}
              </td>
              <td style="text-align: center">
                {{p.promoValue}}
              </td>
              <td style="text-align: center">
                {{p.minPurchase}}
              </td>
              <td style="text-align: center">
                {{p.maxDiscount}}
              </td>
              <td style="text-align: center">
                {{p.startDate}}
              </td>
              <td style="text-align: center">
                {{p.endDate}}
              </td>
              <td>
                  <button class="btn btn-info btn-fill btn-wd pull-right" (click)="deletePromo(p)">Delete</button>
              </td>
            </tbody>
          </table>
        </div>
      </div>